################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/LBEngine/v15
/LBUtility/x64/Debug
/x64/Debug
/Intermediate
/Bin
/LBServer/Src/Inc/CTestServer.h
/LBServer/Src/Cpp/CTestServer.cpp
